<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Deck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css" th:href="@{/css/custom.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


</head>
<body>
<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top">
    <a class="navbar-brand brand-text" href="#">
        <img src="/images/logo.png" th:src="@{/images/logo.png}" width="30" height="30" alt="logo">
        Flashcards
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar-list">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{${paths.get('index')}}">Decks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{${paths.get('shared')}}">Shared Decks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{${paths.get('search')}}">Search</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{${paths.get('account')}}">Account</a>
            </li>
            <li class="nav-item">
                <form th:action="@{${paths.get('logout')}}" method="post">
                    <button class="btn btn-danger" type="submit">logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5 wrapper">
    <div class="box-1 row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><h2 class="text-center mt-4 mb-2">Add a Deck</h2></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <div th:if="${param.already_exist}">
                <div class="alert alert-danger ela">Deck already exists.</div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <form action="#" th:action="@{${paths.get('add-deck')}}" th:object="${deck}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{deckName}" class="form-control" id="name"
                               placeholder="Deck Name">
                        <span th:if="${#fields.hasErrors('deckName')}" th:errors="*{deckName}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="category" class="col-form-label">Category</label>
                        <input th:field="*{category}" class="form-control" id="category"
                               placeholder="Deck Category"></input>
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="description" class="col-form-label">Description</label>
                        <textarea th:field="*{description}" class="form-control" id="description"
                                  placeholder="Deck Description"></textarea>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="shared" class="col-form-label">Shared</label>
                        <select th:field="*{shared}" class="form-control" id="shared">
                            <option th:value="true">Yes</option>
                            <option th:value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <input type="submit" class="btn btn-dark" value="Add Deck">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
        th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
